<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.elderlycare.mapper.BlogHomePage.BlogCommentMapper">

    <resultMap id="DetailedCommentMap" type="com.elderlycare.pojo.Responses.CommentResponse">
        <id property="commentID" column="comment_id"/>
        <result property="userName" column="name"/>
        <result property="userImage" column="picture_path"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <select id="getDetailedCommentByBlog" resultMap="DetailedCommentMap">
        select *
        from blog_comment, user_basic_info
        where blog_comment.user_id = user_basic_info.acct_id
        And blog_comment.blog_id = #{blogID}
    </select>
</mapper>
